body {
  margin: 0;
  background-color: #303030;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.song {
  font-family: 'Courier New', Courier, monospace;
  margin: 5px;
}

.title {
  font-size: larger;
  font-weight: bold;
}

.verse {
  margin-top: 10px;
}

.chorus {
  margin-top: 10px;
  margin-left: 40px;
  font-style: italic;
}

.tab {
  margin-top: 10px;
  white-space: pre;
}

.comment {
  margin-top: 10px;
  font-style: italic;
  color: 0x808080;
}